@page
@model IndexModel
@{
    ViewData["Title"] = "Авторизация";
}

<h1>Авторизация пользователя</h1>

<form method="post">
    <div>
        <label for="Login">Логин:</label>
        <input type="text" id="Login" name="Login" required />
        <label for="Password">Пароль:</label>
        <input type="text" id="Password" name="Password" required />
    </div>
    <button type="submit">Авторизоваться</button>
</form>

@if (!string.IsNullOrEmpty(Model.Login) && !string.IsNullOrEmpty(Model.Password))
{
    <h2>Вы ввели имя: @Model.Name</h2>
}
